{% extends 'products/base.html' %}
{% load static %}
{% block titile %}
  Danh sách sản phẩm
{% endblock %}
{% block content %}

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'products:index' %}">Sản phẩm</a>
    </li>
    <li class="breadcrumb-item active">{{ product.name }}</li>
  </ol>
  <!-- Page Heading/Breadcrumbs -->
  <h1 class="my-4">Thông tin chi tiết</h1>

  <!-- Marketing Icons Section -->
  <div class="row">
      {% if product %}
      <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="{{ product.image.url }}" alt="">
        </div>
        <div class="col-lg-6">
          <h2>{{ product.name }}</h2>
          <p>{{ product.description }}</p>
          <p>{{ product.info|linebreaks }}</p>
        </div>
      {% endif %}
  </div>
  <!-- Our Customers -->
  <h2>Sản phẩm liên quan</h2>
  <div class="row">
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
  </div>
  <!-- /.row -->
{% endblock %}