{% extends 'products/base.html' %}
{% load static %}
{% block titile %}
  Danh sách sản phẩm
{% endblock %}
{% if landings %}
  {% block pageheader %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        {% for landing in landings %}
          {% if forloop.first %}
            <div class="carousel-item active" style="background-image: url({{ landing.image.url }})">
              <div class="carousel-caption d-none d-md-block">
                <h3>{{ landing.title }}</h3>
                <p>{{ landing.description }}</p>
              </div>
            </div>
          {% else %}
            <div class="carousel-item" style="background-image: url({{ landing.image.url }})">
              <div class="carousel-caption d-none d-md-block">
                <h3>{{ landing.title }}</h3>
                <p>{{ landing.description }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  {% endblock %}
{% endif %}
{% block content %}
  <!-- Page Heading/Breadcrumbs -->
  <h1 class="my-4">Danh mục sản phẩm</h1>

  <!-- Marketing Icons Section -->
  <div class="row">
      {% if products %}
        {% for product in products %}
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <a href="{% url 'products:detail' product.id %}"><img class="card-img-top" src="{{ product.image.url }}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{% url 'products:detail' product.id %}">{{ product.name }}</a>
                </h4>
                {% if product.discount_price %}
                <div class="price">
                    <strong ">{{ product.discount_price }}.000₫</strong>
                        <span>{{ product.price }}.000₫</span>
                </div>
                {% else %}
                <div class="price">
                    <strong ">{{ product.price }}.000₫</strong>
                </div>
                {% endif %}

                <p class="card-text">
                  Size: {{product.capacity}} ml<br/>
                  Type: {{product.category}}
                  {{ product.info|linebreaks }}
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
  </div>
{% endblock %}